<div data-id="{{id}}">
  <label for="{{id}}">{{label}}{{#if required}}<span class="required"> *</span>{{/if}}</label>
  <select name="{{id}}{{#if collectionIndex}}_{{collectionIndex}}{{/if}}" id="{{id}}" value="{{value}}">
    <optgroup label="Local">
      {{#each (lookup references reference)}}
        <option value="{{value}}" {{getSelected ../value value}}>{{label}}</option>
      {{/each}}
    </optgroup>
    <optgroup label="Sincronizado">
      {{#each options}}
        <option value="{{value}}" {{getSelected ../value value}}>{{label}}</option>
      {{/each}}
  </optgroup>
  </select>
</div>
