<fieldset data-role="collapsible" data-inset="true" data-collapsed="true" data-field="{{id}}"
  data-collapsed-icon="carat-d" data-expanded-icon="carat-u" class="collection-fieldset">
  <h4>{{label}}{{#if required}}<span class="required"> *</span>{{/if}}</h4>
  {{#if value}}
    {{#each value}}
      <div class="collection-group" data-id="{{../id}}" data-index="{{this.index}}">
        {{#each ../collection}}
          {{#if this.children}}
            {{> group this currentCollection=../.. currentIndex=@../key references=../../references collectionIndex=../index}}
          {{else}}
            {{> (lookup . 'type') this value=(getCollectionFieldValue ../.. @../key this) references=../../references collectionIndex=../index}}
          {{/if}}
        {{/each}}
      </div>
    {{/each}}
  {{/if}}
  <div class="collection-add"> </div>
  <a href="#" data-function="add-collection" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-mini">{{t 'add-item-button'}}</a>
  <a href="#" data-function="remove-collection" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-mini" style="{{#unless value}}display:none;{{/unless}}">{{t 'delete-item-button'}}</a>
</fieldset>
