<h3 class="ui-bar ui-bar-c">{{label}}{{#if required}}<span class="required"> *</span>{{/if}}</h3>
{{#each children}}
  {{#if this.children}}
    {{> group this currentCollection=../currentCollection currentIndex=../currentIndex references=references collectionIndex=../collectionIndex}}
  {{else}}
    {{#if ../currentCollection}}
      {{> (lookup . 'type') this value=(getCollectionFieldValue ../currentCollection ../currentIndex this) references=../references collectionIndex=../collectionIndex}}
    {{else}}
      {{> (lookup . 'type') this references=../references collectionIndex=../collectionIndex}}
    {{/if}}
  {{/if}}
{{/each}}
