<div>
  <fieldset data-role="controlgroup" data-mini="true">
    <legend>{{label}}{{#if required}}<span class="required"> *</span>{{/if}}</legend>
    {{#each options}}
      <label>
        {{#if ../multiple}}
          <input type="checkbox" name="{{../id}}{{#if ../collectionIndex}}_{{../collectionIndex}}{{/if}}" id="{{../id}}_{{value}}" data-name="{{../id}}" data-value="{{value}}" {{getChecked ../value value}}
            data-dependency="{{getFieldDependencies .. this}}">
        {{else}}
          <input type="radio" name="{{../id}}{{#if ../collectionIndex}}_{{../collectionIndex}}{{/if}}" id="{{../id}}_{{value}}" data-name="{{../id}}" data-value="{{value}}" {{getChecked ../value value}}
            data-dependency="{{getFieldDependencies .. this}}">
        {{/if}}
        {{label}}
      </label>
    {{/each}}
  </fieldset>
</div>
