<div data-id="{{id}}" data-shs="{{options.shs}}">
  <label for="{{id}}">{{label}}{{#if required}}<span class="required"> *</span>{{/if}}</label>
  <input type="hidden" name="{{id}}{{#if collectionIndex}}_{{collectionIndex}}{{/if}}" id="{{id}}" value="{{value.value}}">
  <input type="text" name="{{id}}_label" value="{{value.label}}" disabled>
  <a href="#" data-function="get-shs" class="ui-btn ui-shadow ui-corner-all">{{t 'select-button'}}</a>
</div>
