<div data-id="{{id}}">
  <label for="{{id}}">{{label}}{{#if required}}<span class="required"> *</span>{{/if}}</label>
  <textarea name="{{id}}{{#if collectionIndex}}_{{collectionIndex}}{{/if}}" id="{{id}}"
    {{#if description}}placeholder="{{description}}"{{/if}}>{{value}}</textarea>
</div>
