<ul data-role="listview" data-theme="f">
  {{#each forms}}
    {{#if synchronized}}
      <li><a href="#" data-id="{{id}}">{{label}}{{#if required}}<span class="required"> *</span>{{/if}}</a></li>
    {{/if}}
  {{/each}}
</ul>
