<h1>{{t 'welcome'}}</h1>
{{#if user}}
  <h2>{{t 'username'}}: {{user.name}}</h2>
{{else}}
  <h2>{{t 'user-not-configured-message'}}</h2>
  <h3>{{t 'set-user-configuration-message'}}</h3>
{{/if}}
{{#if this.version}}
  <h4>{{t 'version'}}
    <div class="version">{{version}}</div>
  </h4>
{{/if}}
